data/
*.pyc
src/__pycache__/
*.egg_info/

# Hyperbolic learning github repos I cloned
hsvm/
hyperbolic_learning/
hgcn/
hyperbolics/
hyperbolic_embeddings/
hyplinear/
HoroRF/
poincare_embeddings/

# All symlinks
hororf_benchmarks/
cifar100
