data/
*.pyc
hyperdt/__pycache__/
hyperdt.egg-info/
*.egg-info/
build/
dist/
.coverage
coverage.xml
.pytest_cache/


# Hyperbolic learning github repos I cloned
hsvm/
hyperbolic_learning/
hgcn/
hyperbolics/
hyperbolic_embeddings/
hyplinear/
HoroRF/
poincare-embeddings/
HyperbolicCV/

# Decision tree repos I cloned
GeneralizedOptimalSparseDecisionTrees/
Quant-BnB/


# All symlinks
hororf_benchmarks
hororf_benchmarks/
cifar100
poincare_embeddings
