data/
*.pyc
src/__pycache__/
*.egg_info/
build/


# Hyperbolic learning github repos I cloned
hsvm/
hyperbolic_learning/
hgcn/
hyperbolics/
hyperbolic_embeddings/
hyplinear/
HoroRF/
poincare-embeddings/
HyperbolicCV/

# Decision tree repos I cloned
GeneralizedOptimalSparseDecisionTrees/
Quant-BnB/


# All symlinks
hororf_benchmarks
hororf_benchmarks/
cifar100
poincare_embeddings
